body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: linear-gradient(to right, #ff416c, #ff4b2b);*/
    background-color:#ff416c;
    color: #fff;
}

.container{
    text-align:center;
}

h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

button{
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color:yellow;
}